.navbar {
  width: 100%;
  position: fixed;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 12px -9px black;
}

@media (min-width: 900px) {
  .navbar {
    background: transparent;
    box-shadow: none;
  }
}

.scroll {
  color: #000;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 4px 12px -9px gray;
}

.scroll a {
  color: #000;
}

.scroll button {
  color: #000;
  border: 2px solid #000;
}
